
#game {
	text-align: center;
}

.jumbotron {
	text-align: center;
	height: 400px;
}

.title-text {
	margin-top: 100px;
}

#title-font {
	font-size: 90px;
	letter-spacing: 10px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	color: white;
}

.title-body-text {
	margin-top: 5%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300i;
	color: black;
	text-align: center;
	font-size: 20px;
	letter-spacing: 2px;
}

#game {
	margin-top: 40px;
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	letter-spacing: 2px;
}

.setMood {
	margin-right: 5px;
	background: #508E8E;
	border: none;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400i;
}

.killMood {
	margin-left: 5px;
	background: #508E8E;
	border: none;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400i;
}

.footer-text {
	margin-left: 40%;
  	font-family: 'Josefin Sans', sans-serif;
  	font-weight: 300;
}

.container {
	margin-top: 2.5%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 100px;
  background-color: #f5f5f5;
}